* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.header-nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(154, 207, 207);
}

.header-nav h1 {
  padding: 20px 0px;
  font-size: 2rem;
}

.header-nav a {
  text-decoration: none;
  padding: 7px;
  background-color: rgb(167, 106, 106);
  color: aliceblue;
  margin: 0px 50px;
  font-size: 1.4rem;
  border-radius: 5px;
}

.header-nav a:hover {
  background-color: rgb(194, 173, 173);
}

.lista {
  text-align: center;
  padding-top: 40px;
}

ol li {
  padding: 5px;
}

.card {
  padding: 40px;
  text-align: center;
  width: 400px;
  border: solid 2px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
}

body {
  background-color: rgb(212, 226, 221);
}

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

